

.portada-container {
    width: 100%;
}

.portada-container img {
    width: 100%;
}

.portada-titulo {
    font-family: 'sukhumvit_setbold';
    position: absolute;
    top: 35vh;
    margin-left: 15vw;
    color: #333333;
}

.portada-titulo h1 {
    font-size: 75px;
    line-height: 0.75em;
}

.portada-titulo span {
    font-size: 55px;
}

.portada-titulo a,
.portada-titulo a:visited {
    color: #ffffff;
    text-decoration: none;
    font-weight: 100;
    font-style: italic;
}

.cortesia-btn {
    font-weight: 100;
    /* background-image: linear-gradient(to right, rgba(255,66,46,0), rgba(255,66,46,1), rgba(255,66,46,1)); */
    background-color: #ff402c;
    font-size: 25px;
    opacity: 0.9;
    border: 7px solid #333333;
    border-radius: 50vh;
    text-align: center;
    vertical-align: middle;
    /* width: 300px; */
    margin-top: 40px;
}

.section-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
}

.section-img {
    display: flex;
    align-items: center;
    width: 33%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.section-img img {
    width: 90%;
    border-radius: 25px;
    position: relative;
    opacity: 0;
    box-shadow: 10px 10px 10px #cccccc;
}

.section-texto {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 67%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 40px 0px 60px 0px;
    box-shadow: -10px 10px 10px #cccccc;
}

.section-texto * {
    margin-left: 30%;
    margin-right: 17%;
    text-align: justify;
}

.section-texto h1 {
    font-style: italic;
    font-weight: lighter;
}



