@font-face {
  font-family: 'sukhumvit_setbold';
  src: url('./style/fonts/sukhumvitset-bold-webfont.eot');
  src: url('./style/fonts/sukhumvitset-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('./style/fonts/sukhumvitset-bold-webfont.woff2') format('woff2'),
       url('./style/fonts/sukhumvitset-bold-webfont.woff') format('woff'),
       url('./style/fonts/sukhumvitset-bold-webfont.ttf') format('truetype'),
       url('./style/fonts/sukhumvitset-bold-webfont.svg#sukhumvit_setbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

:root {
  --grisClaroSatori: #cccccc;
  --rojoSatori: #ff402c;
}

body {
  background-color: #f3f3f3;
}

.section-titulo {
  margin-top: 85px;
  padding-left: 15%;
  font-style: italic;
  font-weight: normal;
}

@media (prefers-reduced-motion: no-preference) {
  .imagenAnimada {
    animation: imagenIzqDer 2s ease 1;
    animation-fill-mode: forwards;
  }
}

@keyframes imagenIzqDer {
  0%   {opacity:0; left:0px;}
  100% {opacity:1; left:50%;}
}
